<div class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MultiLingQuiz</a>
    <button class="navbar-toggler" id="dropdown-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>            
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/newQuestion">Nueva pregunta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/questionary">Cuestionario</a>
        </li>            
      </ul>            
    </div>
  </div>
</div>

<script type="text/javascript" src="scripts/s__header.js"></script>
<link rel="stylesheet" href="stylesheets/_header.css">
