<div class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MultiLingQuiz</a>
    <button class="navbar-toggler" id="dropdown-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>            
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Question">Pregunta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Questionary">Cuestionario</a>
        </li>    
        <li id="db-options" class="nav-item dropdown db-options-right" aria-expanded="false">
          <img src="images/database-options.svg" alt="Opciones" style="width: 30px; height: 30px;">
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Base de Datos</h6>
            <div>
              <div class="dropdown-divider"></div>
              <div>                  
                  <label class="dropdown-item" for="csvFileInput">Restaurar (CSV)</label>
                  <input class="form-control" style="display: none;" type="file" id="csvFileInput" accept=".csv">
                </div>
              <div>
                <label id="exportDB" class="dropdown-item">Backup (CSV)</label>
              </div>                
            </div>
          </div>
        </li>        
      </ul>            
    </div>

  </div>
</div>

<script type="text/javascript" src="scripts/s__header.js"></script>
<link rel="stylesheet" href="stylesheets/_header.css">
