<meta charset="utf-8">
<title>My App</title>
<link rel="stylesheet" href="stylesheets/bootstrap.css">
<link rel="stylesheet" href="stylesheets/footer.css">   
<!-- <link rel="stylesheet" href="stylesheets/404.css">  -->