<!DOCTYPE html>
 
<html>
    <head>
        <%- include('_partials/_head.ejs'); -%>      
    </head>
    
    <body>
        <%- include('_partials/_header.ejs'); -%>
    
        <div class="container">
            <p><%= name %></p>
            <h1>Welcome to my first Node.js app</h1>
        </div>

        <%- include('_partials/_footer.ejs'); -%>
    </body>
</html>