<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('_partials/_head.ejs'); %>  
        <link rel="stylesheet" href="stylesheets/newQuestion.css">
    </head>
    <body>      
        <header id="header">
            <%- include('_partials/_header.ejs'); -%>  
        </header>
        
        <div id="area" class="container-fluid">
            <div id="left-space">        
                <div>
                    <button id="languages" class="visible" type="button">Mostrar idiomas</button>
                </div>
                <div>          
                    <h2>Espacio a la izquierda</h2>
                    <p>Este espacio es independiente de las pestañas a la derecha.</p>
                    <p>Es el ave más grande y de mayor peso del mundo. Cuando nacen los polluelos miden entre 25 y 30 cm de altura, pesando unos 900 g. Durante el primer año de vida los polluelos crecen unos 25 cm al mes. Los machos adultos pueden llegar a alcanzar los 2,75 o incluso 3 metros, y pesar alrededor de 180 kg.4​5​

            Sus alas pequeñas no les permiten volar, aun así, les ayudan a impulsarse, equilibrarse al correr y como mecanismo de defensa, agitándolas para atacar a posibles depredadores.

            
                    </p>
                </div>          
            </div>

            <div id="right-space" class="hidden">      
                <div class="nav nav-tabs">
                    <ul id="tabList" class="nav" role="tablist"></ul>
                    <div id="addTabBar">
                        <input type="text" id="newTabName" placeholder="Nuevo idioma">
                        <button type="button" class="btn btn-primary btn-sm">+</button>
                    </div>   
                </div>
                <div id="myTabContent" class="tab-content"></div>
            </div>
        </div>

        <%- include('_partials/_footer.ejs'); -%>
        <script type="text/javascript" src="scripts/s_newQuestion.js"></script>
    </body>
</html>