<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('_partials/_head.ejs'); %>  
        <link rel="stylesheet" href="stylesheets/newQuestion.css">
    </head>
    <body>      
        <header id="header">
            <%- include('_partials/_header.ejs'); -%>  
        </header>
        
        <div id="area" class="container-fluid">
            <div id="left-space">        
                <div>
                    <button id="languages" class="visible" type="button">Mostrar idiomas</button>
                </div>
                <form id="mainform">
                    <fieldset>
                        <div class="form-group">
                            <label for="main_statement" class="form-label mt-4">Introduce el enenunciado de tu pregunta:</label>
                            <textarea class="form-control" id="main_statement" name="main_statement" rows="3"></textarea>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="optionRadio1" name="optionsRadios" value="option1" checked="">
                            <input type="text" class="form-control form-control-sm" placeholder="Añade tu respuesta" id="inputOption1" name="inputOption1" for="optionRadio1">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="optionRadio2" name="optionsRadios" value="option2">
                            <input type="text" class="form-control form-control-sm" placeholder="Añade tu respuesta" id="inputOption2" name="inputOption2" for="optionRadio2">
                        </div>                  
                    </fieldset>
                    <button type="submit" class="btn btn-primary" value="Enviar">Enviar</button>
                </form> 
            </div>

            <div id="right-space" class="hidden">      
                <div class="nav nav-tabs">
                    <ul id="tabList" class="nav" role="tablist"></ul>
                    <!-- <div id="addTabBar">
                        <input type="text" id="newTabName" placeholder="Nuevo idioma">
                        <button type="button" class="btn btn-primary btn-sm">+</button>
                    </div>    -->
                    <div id="addTabBar" class="input-group mb-1">
                        <input type="text"  id="newTabName" class="form-control" placeholder="Nuevo idioma">
                        <button type="button" id="button-addon2" class="btn btn-primary">+</button>
                    </div>
                </div>
                <div id="myTabContent" class="tab-content"></div>
            </div>
        </div>

        <%- include('_partials/_footer.ejs'); -%>
        <script type="text/javascript" src="scripts/s_newQuestion.js"></script>
    </body>
</html>