<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('_partials/_head.ejs'); %>  
        <link rel="stylesheet" href="stylesheets/newQuestion.css">
    </head>
    <body>      
        <header id="header">
            <%- include('_partials/_header.ejs'); -%>  
        </header>
        
        <div id="area" class="container-fluid">
            <div id="left-space">        
                <div id="langs">
                    <button id="languages" class="visible btn btn-secondary" type="button">Mostrar idiomas</button>
                </div>
                <div id="myMainFormContent" class="mb-1"></div>
                <div class="form-group d-flex align-items-center">
                    <select class="form-select mt-3" id="optionType">
                      <option>Radio</option>
                      <option>Checkbox</option>
                    </select>
                </div>                
            </div>
            
            <div id="right-space" class="hidden">      
                <div class="nav nav-tabs">
                    <ul id="tabList" class="nav" role="tablist"></ul>
                    <div id="addTabBar" class="input-group mb-1">
                        <input type="text"  id="newTabName" class="form-control" placeholder="Nuevo idioma">
                        <button type="button" id="button-addon2" class="btn btn-primary">+</button>
                    </div>
                </div>
                <div id="myTabContent" class="tab-content mt-2"></div>
            </div>
        </div>
        <button id="submitButton" class="btn btn-primary ms-4" type="submit" value="Enviar">Enviar</button>

        <%- include('_partials/_footer.ejs'); -%>
        <script type="text/javascript" src="scripts/s_newQuestion.js"></script>
    </body>
</html>