<!DOCTYPE html>
 
<html lang="es">
    <head>
        <%- include('_partials/_head.ejs'); -%>       
        <link rel="stylesheet" href="stylesheets/questionary.css">
    </head>
    
    <body>
        <header id="header">
            <%- include('_partials/_header.ejs'); -%>  
        </header>
        
        <!-- Barra lateral -->
        <div class="sidebar" id="sidebar">
            <h5>Cuestiones</h5>
            <ul class="list-unstyled ps-0">
                <li class="border-top my-3"></li>
                <li class="mb-1">
                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    <span class="svg-container"></span>
                    Tema 1
                  </button>
                  <div class="collapse topic-container" id="topic0">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Pregunta 1.1</a></li>
                        <li><a href="#" class="link-dark rounded">Pregunta 1.2</a></li>
                        <li><a href="#" class="link-dark rounded">Pregunta 1.3</a></li>
                    </ul>
                  </div>
                </li>
                <li class="mb-1">
                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <span class="svg-container"></span>
                    Tema 2
                  </button>
                  <div class="collapse topic-container" id="topic1">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Pregunta 2.1</a></li>
                        <li><a href="#" class="link-dark rounded">Pregunta 2.2</a></li>
                        <li><a href="#" class="link-dark rounded">Pregunta 2.3</a></li>
                        <li><a href="#" class="link-dark rounded">Pregunta 2.4</a></li>
                    </ul>
                  </div>
                </li>
                <li class="mb-1">
                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    <span class="svg-container"></span>
                    Tema 3
                  </button>
                  <div class="collapse topic-container" id="topic2">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Pregunta 3.1</a></li>
                        <li><a href="#" class="link-dark rounded">Pregunta 3.2</a></li>
                        <li><a href="#" class="link-dark rounded">Pregunta 3.3</a></li>
                        <li><a href="#" class="link-dark rounded">Pregunta 3.4</a></li>
                    </ul>
                  </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                  <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    <span class="svg-container"></span>
                    Account
                  </button>
                  <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li><a href="#" class="link-dark rounded">New...</a></li>
                      <li><a href="#" class="link-dark rounded">Profile</a></li>
                      <li><a href="#" class="link-dark rounded">Settings</a></li>
                      <li><a href="#" class="link-dark rounded">Sign out</a></li>
                    </ul>
                  </div>
                </li>
            </ul>
        </div>


        <!-- Contenido principal -->
        <div class="main-content">
            <div class="folio-container">
                <!-- Contenido del folio -->
                <h2>Folio</h2>
                <p>Contenido del folio...</p>
            </div>
        </div>

        <%- include('_partials/_footer.ejs'); -%>
        <script type="text/javascript" src="scripts/s_questionary.js"></script>
    </body>
</html>