<!DOCTYPE html>
 
<html lang="es">
    <head>
        <%- include('_partials/_head.ejs'); -%>       
        <link rel="stylesheet" href="stylesheets/questionary.css">
    </head>
    
    <body>
        <header id="header">
            <%- include('_partials/_header.ejs'); -%>  
        </header>
        
        <!-- Barra lateral -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <h5>Cuestiones</h5>
                <select class="form-select" id="choosenTopic" aria-label="Choose available questionary language">
                </select>
            </div>
            <div class="sidebar-content">
                <ul class="list-unstyled ps-0">
                    <li class="border-top my-3"></li>
                </ul>
            </div>
        </div>


        <!-- Contenido principal -->
        <div class="main-content">
            <div class="folio-container" id="folio">
                <div class="folio-header">
                    <h3>Cuestionario</h1>
                    <p>Criterios de correción: ----</p>
                    <ul class="single-choice">
                        <li>
                            <label>Preguntas con solo una opción posible</label>
                        </li>
                    </ul>
                    <ul class="multiple-choice">
                        <li>
                            <label>Preguntas con varias opciones posibles</label>
                        </li>
                    </ul>
                </div>


                <div class="folio-body"></div>
            </div>
        </div>

        <%- include('_partials/_footer.ejs'); -%>
        <script type="text/javascript" src="scripts/s_questionary.js"></script>
    </body>
</html>