<!DOCTYPE html>
 
<html lang="es">
    <head>
        <%- include('_partials/_head.ejs'); -%>       
        <link rel="stylesheet" href="stylesheets/questionary.css">
    </head>
    
    <body>
        <header id="header">
            <%- include('_partials/_header.ejs'); -%>  
        </header>
        
        <!-- Barra lateral -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <h5>Cuestiones</h5>
                <div>
                    <button type="sumbit" id="exportQuestionary" class="btn btn-primary">Exportar cuestionario</button>
                </div>
            </div>
            <div class="sidebar-content">
                <ul class="list-unstyled ps-0">
                    <li class="border-top my-3"></li>
                </ul>
            </div>
        </div>


        <!-- Contenido principal -->
        <div class="main-content">
            <div class="nav nav-tabs">
                <ul id="languagesTabList" class="nav" role="tablist">
                    <li id="languagesDropdown" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Idiomas</a>
                        <div class="dropdown-menu">
                          <h6 class="dropdown-header">Exportar a:</h6>
                          <form id="choosenLanguages">
                              <fieldset class="form-group ms-3 me-3"></fieldset>
                          </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content mt-2"></div>
        </div>

        <%- include('_partials/_footer.ejs'); -%>
        <script type="text/javascript" src="scripts/s_questionary.js"></script>
    </body>
</html>