<!DOCTYPE html>
 
<html lang="es">
    <head>
        <%- include('_partials/_head.ejs'); -%>       
        <link rel="stylesheet" href="stylesheets/questionary.css">
    </head>
    
    <body>
        <header id="header">
            <%- include('_partials/_header.ejs'); -%>  
        </header>
        
        <!-- Barra lateral -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <div style="display: flex;">
                    <h5>Cuestiones</h5>
                    <button type="button" id="randomizeQuestions" class="btn btn-outline-primary ms-3"></button>
                </div>
                       
                <li class="border-top" style="list-style: none;"></li>

                <div class="btn-group mt-3" role="group" aria-label="Button group with nested dropdown">   
                <!-- <div> -->
                    <!-- <button type="submit" id="exportQuestionary" class="btn btn-primary mt-3"> -->
                    <button type="submit" id="exportQuestionary" class="btn btn-primary">
                        <img src="images/cloud-download-fill.svg" alt="Exportar cuestionario" style="width: 23px; height: 23px;">
                        <span>Exportar a</span>
                        <strong>LaTeX</strong>
                    </button>  
                    <div class="btn-group" role="group">
                        <button id="exportDropdown" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button> 
                        <div class="dropdown-menu exportDropdown-menu" aria-labelledby="exportDropdown">
                          <a class="dropdown-item">Markdown</a>
                          <a class="dropdown-item">LaTeX</a>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="sidebar-content">
                <ul class="list-unstyled ps-0">
                    <li class="border-top my-3"></li>

                    <div class="d-flex mb-3">
                        <input type="text" class="form-control form-control-sm" placeholder="Búsqueda de preguntas" id="searchQuestionContent">
                        <button type="button" class="btn-close mt-1 ms-1" id="resetSearchQuestionContent"></button>
                    </div>
  

                    <li class="border-top form-clasification-top"></li>
                    <form class="form-clasification">                        
                        <label id="resetDifficultyLabel" for="clasification"><small>Dificultad de preguntas</small></label>
                        <p id="clasification" class="clasification">
                          <input id="radio1" type="radio" name="stars" value="5">
                          <label for="radio1">★</label>
                          <input id="radio2" type="radio" name="stars" value="4">
                          <label for="radio2">★</label>
                          <input id="radio3" type="radio" name="stars" value="3">
                          <label for="radio3">★</label>
                          <input id="radio4" type="radio" name="stars" value="2">
                          <label for="radio4">★</label>
                          <input id="radio5" type="radio" name="stars" value="1">
                          <label for="radio5">★</label>
                        </p>
                    </form>
                    <li class="border-top"></li>
                </ul>
                <ul id="sidebarQuestionsList" class="list-unstyled ps-0">
                </ul>
            </div>
        </div>


        <!-- Contenido principal -->
        <div class="main-content">
            <div class="nav nav-tabs">
                <ul id="languagesTabList" class="nav" role="tablist">
                    <li id="languagesDropdown" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Idiomas</a>
                        <div class="dropdown-menu">
                          <h6 class="dropdown-header">Exportar idioma:</h6>
                          <form id="choosenLanguages">
                              <fieldset class="form-group ms-3 me-3"></fieldset>
                          </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content mt-2"></div>
        </div>

        <%- include('_partials/_footer.ejs'); -%>
        <script type="text/javascript" src="scripts/s_questionary.js"></script>
    </body>
</html>