<!DOCTYPE html>
 
<html lang="es">
    <head>
        <%- include('_partials/_head.ejs'); -%>       
        <link rel="stylesheet" href="stylesheets/questionary.css">
    </head>
    
    <body>
        <header id="header">
            <%- include('_partials/_header.ejs'); -%>  
        </header>
        
        <!-- Barra lateral -->
        <div class="sidebar" id="sidebar">
            <h5>Cuestiones</h5>
            <ul class="list-unstyled ps-0">
                <li class="border-top my-3"></li>                        
            </ul>
        </div>


        <!-- Contenido principal -->
        <div class="main-content">
            <div class="folio-container">
                <!-- Contenido del folio -->
                <h2>Folio</h2>
                <p>Contenido del folio...</p>
            </div>
        </div>

        <%- include('_partials/_footer.ejs'); -%>
        <script type="text/javascript" src="scripts/s_questionary.js"></script>
    </body>
</html>