<footer>
    <div class="footer-container">
        <a href="http://www.ua.es/" target="_blank">
            <img class="banner" src="images/banner_UA.png" alt="Logo de la Universidad de Alicante" />
        </a>        
        <p>
            Segismundo Ferrairó García | © Universidad de Alicante, Escuela Politécnica Superior
        </p>
        <a href="http://eps.ua.es/" target="_blank">            
            <img class="logo" src="images/logo_EPS.png" alt="Logo de la Escuela Politécnica Superior" />
        </a>
    </div>
</footer>