body {
    margin-bottom: 70px; /* Adds a margin at the bottom of the body so the footer doesn't overlap the content */
}

footer {
    background-color: #f8f8f8; /* Footer background color */
    border-top: 1px solid #e7e7e7;    
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 10px;
}

footer .banner {
    max-width: 150px; /* Establishes the maximum width of the image */
    height: auto; /* Makes the height adjust automatically to maintain the proportion */
    vertical-align: baseline; /* Aligns the image vertically with the text */
}

footer .logo {
    max-width: 75px;
    height: 40px;
    vertical-align: text-bottom ; /* Aligns the image vertically with the text */
}

footer span {
    text-align: center;  
    margin-left: 10px;
    margin-right: 10px;    
}
  