/* MultiLingQuiz is part of Segimundo Ferrairó García.

Segimundo Ferrairó García is free software: you can redistribute it and/or modify it under the terms 
of the GNU General Public License as published by the Free Software Foundation, 
either version 3 of the License, or (at your option) any later version.

Segimundo Ferrairó García is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Segimundo Ferrairó García. 
If not, see <https://www.gnu.org/licenses/>. */




#db-options img {
    filter: invert(100%);
}

#db-options .dropdown-menu {
    margin-top: 5px;
    right: -2px;
    border-color: #d2d2d2;
}

#db-options .dropdown-divider {
    border-top-color: #d2d2d2;
}

#db-options .dropdown-menu label {
    color: black;
}

#db-options .dropdown-menu label:hover {
    background-color: #9ec8f0;
}

.db-options-right {
    position: absolute;
    right: 14px;
}