/* MultiLingQuiz is part of Segimundo Ferrairó García.

Segimundo Ferrairó García is free software: you can redistribute it and/or modify it under the terms 
of the GNU General Public License as published by the Free Software Foundation, 
either version 3 of the License, or (at your option) any later version.

Segimundo Ferrairó García is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Segimundo Ferrairó García. 
If not, see <https://www.gnu.org/licenses/>. */




body {
    margin: 51px auto 56px auto;
}

.welcome-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    filter: brightness(0);
}

.welcome {
    position: relative;    
    padding: 60px 0;
    /* min-height: 80vh; */
}

.welcome-bg {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:url("/images/TriangleLights_index.jpg");
    background-size:cover;
    z-index:1;
    filter: blur(4px);   
}

.welcome p {
    margin-bottom: 40px;
}

.welcome h1 {
    color: black;
}

.container {
    position:relative;
    z-index:2;

    max-width: 80%;
    /* margin: 150px auto; */
}

.container-title {
    padding: 50px 0;
    margin-bottom: 40px;
}

.container h1 {
    margin-bottom: 40px;
}

.reasons {
    background-color: aliceblue;
    padding-bottom: 1px; 
}

.container-elements {
    max-width: 80%;
    margin: 0 auto;
}

.row {
   margin-bottom: 100px;
}

.reverse-flex-direction {
    flex-direction: row-reverse;
}