body {
    margin: 0;
}

.welcome-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    filter: brightness(0);
}

.welcome {
    position: relative;
    padding-top: 90px; 
    min-height: 80vh;
}

.welcome-bg {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:url("/images/TriangleLights_index.jpg");
    background-size:cover;
    z-index:1;
    filter: blur(4px);   
}

.welcome p {
    margin-bottom: 40px;
}

.container {
    position:relative;
    z-index:2;

    max-width: 80%;
    /* margin: 150px auto; */
}

.container-title {
    padding: 50px 0;
    margin-bottom: 40px;
}

.container h1 {
    margin-bottom: 40px;
}

.reasons {
    background-color: aliceblue;
    padding-bottom: 1px; 
}

.container-elements {
    max-width: 80%;
    margin: 0 auto;
}

.row {
   margin-bottom: 80px;
}

.reverse-flex-direction {
    flex-direction: row-reverse;
}