#area {
    display: flex;
}

#left-space,
#right-space {
    /*flex-grow: 1;*/
    /* Ambos elementos crecerán en la misma proporción */
    box-sizing: border-box;
    padding: 20px;
    width: 50%; /* Ajuste para que ambos tengan el mismo ancho total */
}

.hidden {
    display: none;
}

#addTabBar {
    max-width: 200px;
}

#addTabBar #newTabName {
    text-align: center;
    margin-left: 5px;
}

#mainform {
    margin-top: 17px;
}

#submitButton {
    margin-top: 20px;
}

select {
    max-width: 150px;
}