#area {
    display: flex;
}

#left-space,
#right-space {
    /*flex-grow: 1;*/
    /* Ambos elementos crecerán en la misma proporción */
    box-sizing: border-box;
    padding: 20px;
    width: 50%; /* Ajuste para que ambos tengan el mismo ancho total */
}

.hidden {
    display: none;
}

#addTabBar {
    max-width: 205px;
    margin-bottom: 2px;
}

#addTabBar #newTabName {
    text-align: center;   
    background-color: #f0f0f0; /* Gris muy tenue como fondo */
    font-style: italic; /* Cursiva para el texto */
    height: 35px;    
}

#addTabBar #button-addon2 {
    height: 35px;
}

#mainform {
    margin-top: 17px;
}

#submitButton {
    margin-top: 20px;
}

select {
    max-width: 150px;
}

