/* MultiLingQuiz is part of Segimundo Ferrairó García.

Segimundo Ferrairó García is free software: you can redistribute it and/or modify it under the terms 
of the GNU General Public License as published by the Free Software Foundation, 
either version 3 of the License, or (at your option) any later version.

Segimundo Ferrairó García is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Segimundo Ferrairó García. 
If not, see <https://www.gnu.org/licenses/>. */




.hidden {
    display: none;
}

#area {
    display: flex;
}

#left-space,
#right-space {
    /*flex-grow: 1;*/
    /* Ambos elementos crecerán en la misma proporción */
    box-sizing: border-box;
    padding: 20px;
    width: 48%; /* Ajuste para que ambos tengan el mismo ancho total */
}

/* centralo verticalmente con la página */
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.translate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#arrow-top {
    content: url("/images/arrow-90deg-right.svg");
    transform: rotate(90deg);
}

#arrow-down {
    content: url("/images/arrow-90deg-down.svg");
    transform: rotate(-90deg);
}

#addTabBar {
    max-width: 239px;
    margin-bottom: 2px;
}

#addTabBar #newTabName {
    text-align: center;   
    background-color: #f0f0f0;
    font-style: italic;
    height: 35px;    
}

#addTabBar #button-addon2 {
    height: 35px;
}

#mainform {
    margin-top: 17px;
}

#submitButton {
    margin-top: 20px;
}

select {
    max-width: 150px;
}

#myTabContent {
    margin-top: 50px;
}

#languages {
    width: 102px;
}

#floatingTopic {
    width: 150px;
}

.border-blue {
    border: 2px solid #4582ec;
}

.translate {
    width: 37px;
    height: 37px;
    cursor: pointer;
  }
  
.translate::before {
    content: url("/images/translate.svg");
    display: flex; /* make the div a flex container */
    justify-content: center; /* horizontally center */
    filter: invert(100%);
}
  

.form-clasification {
    text-align: center;
}

.form-clasification p {
    text-align: center;
}

.form-clasification label {
    font-size: 20px;
}

.clasification {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.clasification input[type="radio"] {
    display: none;
}

.clasification label {
    color: grey;
}

.clasification label:hover,
.clasification label:hover ~ label {
    color: orange;
}

.clasification input[type="radio"]:checked ~ label {
    color: orange;
}