.sidebar {
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    width: 333px;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.sidebar>.sidebar-header {
    margin-top: 20px;
}

.main-content {
    margin-left: 325px; /* Sidebar width + margin space */
    padding: 20px;
}

.folio-container {
    min-height: 70vh;
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.single-choice {
    list-style-type: none;
}

.multiple-choice {
    list-style-type: none;
}

.single-choice li {
    list-style-image: url("/images/dash.svg");
}

.multiple-choice {
    list-style-image: url("/images/empty_multiple-option.svg");
}

/*Make the class .topic-container vertical allign with its father*/
.topic-container {
    padding-left: 28px;
    padding-right: 10px;
}

.topic-container>a {
    display: block;
    padding: 10px 0;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #dee2e6;
}

.btn-link {
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    color: #000000;
}

.btn-toggle {
    padding: 5px;
}

/*when cursor hovers btn-toggle it glows in blue*/
.btn-toggle:hover {
    background-color: #87ceeb;
}

.btn-toggle>.svg-container {
    display: inline-block;
    width: 1em;
    line-height: 0;
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>");
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
    vertical-align: inherit;    
}

.btn-toggle[aria-expanded="true"]>.svg-container {
    transform: rotate(90deg);
}

.question {
    position: relative;
}

.empty-question {
    position: relative;
    color: red;
}

.question-close {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-tabs {
    width: 80%;
    margin: 0 auto;
}

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    white-space: nowrap;
    padding: 2px;
}

.cut-text:hover {
    white-space: unset;
    text-overflow: unset;
}

.exportDropdown-menu {
    margin-top: 42px;
    min-width: 0px;
}

#randomizeQuestions {
    width: 37px;
    height: 39px;
    cursor: pointer;
    position: relative;
    left: 128px;
    bottom: 10px;
  }
  
#randomizeQuestions::before {
    content: url("/images/shuffle.svg");
    display: flex;
    justify-content: center; /* horizontally centered */
    padding-top: 3px;
}

#randomizeQuestions:hover::before {
    filter: invert(100%);
}
.csvFileInput {
    cursor: pointer;
}

#exportQuestionary {
    min-width: 248px;
}

#exportQuestionary img {
    filter: invert(100%);
    position:absolute;
    left: 18px;
    top: 8px;
}

#exportQuestionary strong {
    position:fixed;
    margin-left: 4px;
}

#searchQuestionContent {
    border-radius: 10px;
    max-width: 90%;
}

.form-clasification {
    text-align: center;
}

.form-clasification p {
    text-align: center;
}

.form-clasification label {
    font-size: 20px;
}

#resetDifficultyLabel {
    cursor: pointer;
}

#resetDifficultyLabel:hover {
    color: orange;
}

#clasification {
    margin-bottom: 0px;
}

.form-clasification-top {
    margin-top: 1rem !important;
}

.clasification {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.clasification input[type="radio"] {
    display: none;
}

.clasification label {
    color: grey;
}

.clasification label:hover,
.clasification label:hover ~ label {
    color: orange;
}

.clasification input[type="radio"]:checked ~ label {
    color: orange;
}

.btn-edit {
    padding: 4px 8px;
    width: 40px;
    height: 33px;
}

.btn-edit img {
    filter: invert(40%);
}

.btn-edit:hover img {
    filter: invert(100%);
}

.btn-delete {
    padding: 4px 8px;
    width: 33px;
    height: 33px;
}

.btn-delete img {
    filter: invert(17%) sepia(63%) saturate(5659%) hue-rotate(347deg) brightness(90%) contrast(103%);
}

.btn-delete:hover img {
    filter: invert(100%);
}